{{#each telefono}}
<div class="div-img-telefono">
    <img src="img/{{this.imagen}}" id="imagen" width="350px" height="500px">     
</div>
<div class="div-caract-telefono">
        <h1>{{this.modelo}}</h1>
        <h1>{{this.precio}}</h1>
        <p class="p-home">{{this.descripcion}}</p>
        <button class="carrito-home" id="carrito">Agregar al carrito</button>
</div>
<div class="chat">
        
        <div id="ventanaChat"></div> <br>

        <label for="mensaje">Comentario:</label><br> 
        <input type="text" id="mensaje" placeholder="Escriba su comentario..." class="input-chat"><br>

        <button id="enviar" class="button-chat">enviar</button>
</div>

{{/each}}
