<div class="div-img-telefono">

</div>
<div class="div-caract-telefono">

</div>
<div class="chat">
        
        <div id="ventanaChat"></div> <br>

        <label for="mensaje">Comentario:</label><br> 
        <input type="text" id="mensaje" placeholder="Escriba su comentario..." class="input-chat"><br>

        <button id="enviar" class="button-chat">enviar</button>
</div>
