
 <div class="datosPersonales" id="datosPersonales">
        <h1>Bienvenido {{datosUsuario.usuario}}</h1>
        <h2>Correo electrónico: {{datosUsuario.email}}</h2>
        <h2>Teléfono: {{datosUsuario.telefono}}</h2>

</div>
<div class="chat">
        
        <div id="ventanaChat"></div> <br>

        <label for="mensaje">Mensaje:</label><br> 
        <input type="text" id="mensaje" placeholder="Escriba su mensaje..." class="input-chat"><br>

        <button id="enviar" class="button-chat">enviar</button>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/perfil.js"></script>