
{{#each listaTelefonos}}
<div class="telefono">
    <img src="img/{{this.imagen}}" id="imagen" width="200px" height="250px">
    <div class="caracteristicas">
        <p>{{this.marca}}</p>
        <p>{{this.precio}}</p> 
    </div> 
    <button class="carrito">Agregar al carrito</button>
</div> 
{{/each}}