.cabecera{
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #232f3e;
    z-index: 1000;
}
.buscador{
    padding: 6px 10px 6px 0;
    height: 30px;
    width: 400px;
    font-size: 15px;
    text-indent: 8px;
    margin: 20px 0px 0px 100px;
    background-color: 0 0;
    color:#111;
    cursor: text;
    border-radius: 4px;
}

.button-buscar{
    padding: 6px 10px 6px 0;
    width: 60px;
    height: 44px;
    border-radius: 4px;
    cursor: pointer;
    border: 4px solid #F0C354;
    background-color: white;
}

.button-buscar:hover{
    background-color: #F0C354;
}

.miCuenta,.salir,.inicio{
    width: 150px;
    height: 40px;
    background-color: #F0C354;
    border: 0;
    margin: 0px 0px 0px 70px;
    cursor: pointer;
    border-radius: 4px;
}

.principal{
    position: absolute;
    margin: 120px 0px 0px 0px;
    
}
.oculto{
    display: none;
}

body{
    background-color: rgb(238, 238, 238);
}
