<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>main</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/perfil.css">

</head>
<header>
    <div class="cabecera">
        <input type="text" class="buscador" placeholder="Buscar Producto">
        <button class="button-buscar">Buscar</button>
        <button class="miCuenta" id="miCuenta">Mi Cuenta</button>
    </div>
</header>
<body>
    <div class="principal">
        {{{body}}}
    </div>
</body>
<script src="js/main.js"></script>
</html>